@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables */

:root {
    --black: rgb(5, 5, 5);
    --black-soft: rgb(51, 51, 51);
    --dark-blue: rgb(25, 25, 112);
    --blue: rgb(0, 0, 255);
    --slatergray: rgb(94, 107, 119);   
    --firebrick-red: rgb(178, 34, 34);
    --red: rgb(255, 0, 0);
    --bronze: rgb(205, 127, 50);
    --dark-beige: rgb(222, 184, 135);
    --light-beige: rgb(231, 231, 178);
    --medium-gray: rgb(206, 206, 206);
    --light-gray: rgb(241, 241, 241);
    --white: rgb(255, 255, 255);
    
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    color: var(--black-soft);
    list-style-type: none;
    text-decoration: none;
}

html {scroll-behavior: smooth;}

img {width: 100%;}

h1, h2, h3 {font-weight: 700;}

h2, h3 {
    text-transform: uppercase; 
    font-size: 14px; 
    letter-spacing: 2px;
}

h4 {
    font-weight: 600;
    font-size: 40px;
}

h5 {
    font-weight: 400;
	font-size: 17px;
}

p {
    font-size: 17px;
    line-height: 22px;
}

body > main:not(.m-0) {margin: 70px auto;}

/* Width & Height Classes */

.w-100 {width: 100%;}
.w-80 {width: 80%;}
.w-50 {width: 50%;}
.w-25 {width: 25%;}

.h-100 {height: 100%;}

/* Spacing Classes */

.m-auto {margin: 0 auto;}
.mt-7 {margin-top: 70px;}

/* Typography Classes */

.text-center {text-align: center;}

/* Display Classes */ 

.d-none {display: none;}
.d-block {display: block;}

.flex-row, 
.flex-column {
    display: flex;
    align-items: center;
}

.flex-row {flex-direction: row;}
.flex-column {flex-direction: column;}

.flex-wrap {flex-wrap: wrap;}

.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}

.align-items-stretch {align-items: stretch !important;}

/* Color Classes */

.text-red {color: var(--firebrick-red);}
.text-beige {color: var(--dark-beige);}
.text-bronze {color: var(--bronze);}
.text-gray {color: var(--slatergray);}
.text-white {color: var(--white);}

.bg-medium-gray {
    background-color: var(--light-gray);
}

.bg-bronze {background-color: var(--bronze);}
.bg-gray {background-color: var(--slatergray);}
.bg-light-gray {background-color: var(--light-gray);}

/* Other Classes */

.active-link {color: var(--light-beige);}

.position-relative {position: relative;}
.position-absolute {position: absolute;}

.border-radius {border-radius: 50px;}
.rounded-circle {border-radius: 50%;}

.btn {
    width: fit-content;
    border-radius: 8px;
    padding: 18px 30px 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 0;
    margin-top: 25px;
}

.btn, .btn i {color: var(--white);}

.btn i {margin-left: 7px;}

.icon-style {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
            text-stroke: 1px var(--white);
}

.copyright-entity {
    position: relative;
    top: -7px;
    font-size: 12px;
    font-weight: 400;
    color: var(--slatergray);
}

.euro-entity {margin-left: 1px;}

/* Animations */

@keyframes background-slide {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}

.background-slide-animation {
    animation: background-slide 3s ease-in-out infinite;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);  
    }
}

.slide-in-animation * {
    animation: slide-in 0.5s ease-out;
}

@keyframes text-bounce {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.text-bounce-animation {
    animation: text-bounce 3s ease-in-out infinite;
}

@keyframes scale-image {
    0% {transform: scale(0.95);}
    50% {transform: scale(1);}
    100% {transform: scale(0.95);}
}

.scale-image-animation {
    animation: scale-image 2s infinite alternate ease-in-out;
}

/* Transitions */

.move-and-rotate-transition {
    transition: transform 0.3s ease-in-out;
}

.hover-effect:hover .move-and-rotate-transition,
.move-and-rotate-transition:hover {
    transform: translate(-5px, -5px) rotate(2deg); 
}

.bg-color-hover-transition {
    transition: background-color 0.3s ease-in-out;
}

.bg-color-hover-transition:hover {
    background-color: var(--firebrick-red) !important;
}

.icon-slide-right-transition {
    transition: transform 0.2s ease;
}

.hover-effect:hover .icon-slide-right-transition {
    transform: translateX(3px); 
}

.opacity-on-hover {
    transition: opacity 0.5s ease;
}

.hover-effect:hover .opacity-on-hover {
    opacity: 0.5; 
}

.scale-on-hover {
    transition: transform 0.1s ease; 
}

.scale-on-hover:hover {
    transform: scale(1.2); 
}

.expand-list-transition {
    transition: max-height 0.3s ease-in-out; 
 }

.hover-effect:hover + .expand-list-transition  {
    max-height: 1000px;       
}

.rotate-icon-transition {
    transition: transform 0.1s ease; 
}

.hover-effect:hover .rotate-icon-transition {
    transform: rotate(180deg);
}

/* Page Header Styles */

body > header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--black);
    padding: 0 50px;
}

body > header .logo {
    width: 140px;
    margin: 20px 40px 15px 0;
}

body > header * {color: var(--light-gray);}

#main-navigation li {
    height: 100%;
}

#main-navigation a {
    font-weight: 400;
    font-size: 15px;
}

#main-navigation li:not(:first-child) a:hover {
    color: var(--light-beige);
}

#main-navigation li:first-child a {
    width: 180px;
    height: 100%;
    padding: 5px 20px 0;
    letter-spacing: 0.7px;
}

#main-navigation li:not(:first-child) {
    margin-left: 40px;
}
#main-navigation li:not(:first-child),
#icons-navigation {
    margin-top: 5px;
}

#main-navigation a > i {
    font-size: 11px;
}

#icons-navigation li:not(:last-child) {
    margin-right: 15px;
    font-size: 20px;
}

#icons-navigation .fa-heart {font-size: 22px;}

#icons-navigation a:hover i {
    -webkit-text-stroke: 1px var(--light-beige);
            text-stroke: 1px var(--light-beige);
}

/* Page Footer Styles */

body > footer {
    padding: 60px 60px 30px;
    background-color: var(--black);
}

body > footer *:not(span) {
    color: var(--medium-gray);
}

body > footer .logo {
    width: 200px;
    margin-bottom: 20px;
}

body > footer > div:first-child ul {
    margin-top: 20px;
}

body > footer > div:first-child ul * {
    font-size: 15.5px;
    line-height: 15px;
}

body > footer ul a:not(.small), 
body > footer span {
	font-size: 16px;
}

body > footer span,
body > footer nav a {
	font-weight: 400;
}

body > footer ul a:not(.small) {
    position: relative;
    top: -2px;
}

body > footer > div:first-child li:not(:last-child)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 1px;
    height: 17px;
    top: -2px;
    background-color: var(--black-soft);
    margin: 0 20px;
}

body > footer > div:first-child, 
body > footer hr {
    margin-bottom: 25px;
}

body > footer hr,
body > footer > div:last-child {
    width: 95%;
}

body > footer hr {
    border: 0;
    border-top: 1px solid var(--black-soft);
}

body > footer nav li:not(:last-child) {
    margin-right: 20px;
}

body > footer nav a {
    font-size: 80% !important;
}

/* Social Media Navigation */

#social-media-nav {
    position: fixed;
    top: calc(50vh - 120px);
    left: 0;
}

#social-media-nav li {
    width: 54px;
    height: 54px;
}

#social-media-nav i {
    font-size: 18px;
    margin-top: 4px;
}

#social-media-nav li:first-child {
    background: -webkit-radial-gradient(30% 107%, circle, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
    border-radius: 0 10px 0 0;
}

#social-media-nav li:nth-child(2) {background-color: rgb(66, 104, 179);}
#social-media-nav li:nth-child(3) {background-color: rgb(29, 161, 242);}

#social-media-nav li:last-child {
    background-color: rgb(134, 136, 138);
    border-radius: 0 0 10px 0;
}

/* Form Styles */

form > div:not(:last-child) {
    margin-bottom: 20px;
}

form div.justify-content-between > .w-50 {width: 49%;}
form div.justify-content-between > .w-75 {width: 73%;}

.form-control, select {
    width: 100%;
    margin-top: 10px; 
    padding: 14px 10px 12px;
    border: 1px solid var(--medium-gray);
}

select {
    -webkit-appearance: none;  
	   -moz-appearance: none;  
   	        appearance: none;
	background: url("../img/icons/angle-down.png") no-repeat 97% center;
	background-size: 10px auto;
}

textarea {height: 200px;}

label:not(label[for="sing-up-for-newsletter"]) {
    color: var(--slatergray);
    font-size: 15px;
}

label:not(label[for="sing-up-for-newsletter"]) {
    font-weight: 400;
}

label:not(label[for="sing-up-for-newsletter"]) > span {
    color: var(--red);
    font-size: 18px;
}

input[type="checkbox"] {
    align-self: flex-start; 
    margin-right: 10px;
}

form .small {line-height: 17px;}

form .small, .btn-form {
    font-size: 14px;
}

form .copyright-entity {font-size: 11px;}

.btn-form {
    padding: 18px 30px 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 0;
    cursor: pointer;
}

.form-control, 
form input[type="submit"] {
    border-radius: 8px;
}

.form-control, option, ::placeholder {
    font-size: 16px;
}

.form-control:focus {
    outline: 2px solid var(--medium-gray);
    border-color: transparent;
}

/* Section Header Styles */

.section-header > div:last-child {
    margin-top: 20px;
}

.section-header h2,
.section-header h3 {
    margin-bottom: 23px;
}

.section-header h1 {
    font-size: 40px;
    line-height: 43px;
} 

.section-header p {
    font-size: 20px;
    line-height: 23px;
}

/* Product Card Styles */

.product-badge {
    color: var(--white);
    border-radius: 50%;
    z-index: 1;
    letter-spacing: 1px;
}

.product-card .product-badge {
    width: 48px;
    height: 48px;
    top: -20px;
    left: -5px;
    font-size: 12px;
    padding-top: 3px;
    font-weight: 700;
}

.product-badge-new {background-color: var(--dark-blue);}

.product-badge-sale {
    background-color: var(--firebrick-red);
    left: 17px !important;
}

.product-card-icons li:not(:last-child) {
    margin-right: 3px;
}

.product-card-icons {display: none;}

.product-card:hover .product-card-icons {
    display: flex; 
}

.product-card-icons li {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--bronze);
}

.product-card-icons a {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding-top: 3px;
}

.product-card figcaption {
    margin-top: 35px;
    padding: 0 10px;
}

.product-card .product-category {
    font-weight: 700;
    font-size: 10.5px;
    margin-bottom: 8px;
    text-transform: uppercase;
    word-spacing: 2px;
}

.product-card .product-category,
.product-card-price {
    letter-spacing: 0.5px;
    display: block;
}

.product-card h5, 
.product-card h5 * {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.product-card h5 span:last-child {
    margin-left: 3px;
}

.product-card h5 span:not(.messurement-unit):first-of-type {
    margin: 0 3px;
}

.product-card-price {
    margin-top: 7px;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.product-card-price > span {
    margin-left: 2px;
    font-size: 16px;
}

.product-card-price::after {
    display: block;
    font-weight: 600;
    font-size: 65px;
    color: rgb(221, 221, 221);
    z-index: -1;
    top: -30px;
    position: absolute;
    width: 100%;
    rotate: -13deg;
}

/* Slider Section Styles */

.slider-section header {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--dark-beige);
    margin-bottom: 50px;
}

.slider-section header * {
    font-weight: 600;
    font-size: 26px;
}

.slider-nav-previous {margin-right: 10px;}

.slider-section article {width: 19%;}

.slider-section .product-card .fa-shopping-cart {
    margin-right: 2px;
}

.slider-section .product-card:nth-child(4) .fa-shopping-cart {
    margin-right: 0 !important;
}

.slider-section .product-card:nth-child(4) .fa-heart {
    margin-left: 1px;
}

.product-card:nth-child(4) .fa-info-circle {
    margin-left: 2px;
}

/* Home Page (index.html) */

#hero-section {
    padding: 15vh 10%;
    background: url("../img/cover.jpg") no-repeat center;
    background-size: cover;
}

#hero-section > div {width: 49.5%;}

#hero-section h2 {
    font-size: 12px;
    margin-bottom: 23px;
}

#hero-section h1 {font-size: 48px;}

#hero-section .btn i {
    top: -2px;
    font-size: 13px !important;
}

.benefit-item {
    width: 15%;
    padding: 30px 30px;
    border: 2px solid var(--light-beige);
    border-radius: 25px;
}

.benefit-item i {
    font-size: 38px;
    margin-bottom: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--slatergray);
            text-stroke: 2px var(--slatergray); 
}

.benefit-item h6 {
    font-weight: 500;
    font-size: 15.5px;
}

.category-item {
    width: calc((100% - 80px)/5);
    padding: 0 30px;
}

.category-item figcaption * {
    font-weight: 400;
    font-size: 17px;
}

.category-item figcaption {
    margin-top: 15px;
}

.category-item:nth-child(5) ~ div {
    margin-top: 40px;
}

.section-collection > div:first-child {
    width: calc(60% - 20px);
    padding: 70px 84px;
}

.section-collection p {
    margin-top: 20px;
    font-size: 19px;
    line-height: 23px;
}

.section-collection > div:last-child {
    width: 40%;
    background-size: cover !important;
}

#section-modern-retro > div:last-child {
    background: url("../img/modern-retro-collection.jpg") no-repeat;
}

.section-collection .btn > i {
    font-size: 11px !important;
    top: -1px;
}

#section-new-arrivals .product-badge-new {
    left: 16px !important;
}

#section-glam-jungle > div:last-child {
    background: url("../img/glam-jungle-collection.jpg") no-repeat center center;
}

#section-special-offer article:first-child .product-card-price::after {content: "Save 10%";}
#section-special-offer article:nth-child(2) .product-card-price::after {content: "Save 45%";}
#section-special-offer article:nth-child(3) .product-card-price::after {content: "Save 30%";}
#section-special-offer article:nth-child(4) .product-card-price::after {content: "Save 20%";}
#section-special-offer article:last-child .product-card-price::after {content: "Save 15%";}

/* Page About Us (about.html) */

#section-the-mission > header {
    border-right: 2px solid var(--dark-beige);
}

#faded-image {
    opacity: 0.8; 
    width: 85%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#section-the-mission > main {width: 43%;}

#the-mission-text p:first-child,
#section-timeless-materials .section-header p {
    font-size: 26px;
    line-height: 26px;
}

#the-mission-text p:not(:last-child),
#quote-block > div {
    margin-bottom: 20px;
}

#quote-block {margin-top: 25px;}

#profile-picture {
    width: 60px; 
    margin-right: 15px;
}

#quote-block span:first-child {
    font-size: 16px; 
    margin-bottom: 5px; 
    font-weight: 500;
}

#quote-block span:last-child {
    font-size: 13px;
    font-weight: 400;
}

#quote-block span:last-child span {
    font-size: 10px;
}

#quote-block p {
    text-indent: 25px;
    line-height: 20px;
}

#quote-block q {
    font-size: 15px;
    font-weight: 500;
}

#section-timeless-materials .section-header {
    margin-bottom: 40px;
}

.material-item {
    width: 32%;
    padding: 0 30px;
}

.material-icon {
    width: 40px;
    opacity: 0.8;
}

.material-title {margin-left: 10px;}
.material-text {margin-top: 20px;}

/* Page Shop (shop.html) */

#product-filters {
    width: calc(25% - 50px);
} 

#product-categories > li:not(:last-child),
#product-filters > ul, 
#product-filters > div:not(:last-of-type) {
    margin-bottom: 25px;
}

.filter-title {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid var(--medium-gray);
    padding-bottom: 10px;
}

.filter-titile > i {
    font-size: 16px;
}

.subcategory-list, 
#price-range-filter > div {
    padding-top: 18px;
}

.subcategory-list li:not(:last-child) {
    margin-bottom: 6px;
}

.subcategory-list li:not(#room-list li) {width: 100%;}

.subcategory-list a {
    color: var(--black-soft) !important;
    font-size: 16px !important;
}

.subcategory-list span {
    font-size: 13.5px;
    letter-spacing: 0.5px;
}

.subcategory-list a:hover {
    color: var(--bronze) !important;
    font-weight: 400;
}

.subcategory-list.d-none {
    max-height: 0;       
    display: flex;
    flex-direction: column;       
    overflow: hidden;         
}

#price-range-filter input {margin-bottom: 13px;}

#price-range-filter > div * {
    font-size: 17px;
    letter-spacing: 0.5px;
}

#price-range-filter .euro-entity {
    font-size: 14.5px;
}

#room-list a {
    width: 105px;
    height: 65px;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 14px !important;
    padding-top: 3px;
}

#collection-list ul {
    width: 100%;
    flex-direction: row !important;
}

#collection-list li {
    width: 50% !important;
}

#collection-list li:nth-child(even) {
    padding-left: 20px;
}

#room-list li {margin: 0 !important;}

#room-list li:nth-child(n+3) {
    margin-top: 10px !important;
}

#room-list i {
    font-size: 18px;
    margin-bottom: 6px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--black-soft);
            text-stroke: 1.5px var(--black-soft); 
}

#room-list a:hover {
    border: 2px solid var(--bronze);
}

#section-products {width: 75%;}

#section-products > header * {
    margin-top: 0 !important;
}

#search-by-product-name {width: 250px;}

#btn-search-product {
    margin-left: 10px !important; 
}

.layout-option:last-child {margin-left: 15px;}

.layout-option {font-size: 25px;}

#sort-products {
    margin-left: 20px;
    background-position: 95% center;
}

#section-products > main {
    margin: 40px 0 50px;
    align-items: flex-end;
}

#section-products .product-card {
    width: calc((100% - 60px)/4);
    margin-top: 50px;
    margin-right: 20px;
}

#section-products .product-card:nth-of-type(4n) {
    margin-right: 0 !important; 
}

#section-products .product-card:nth-of-type(n+14) img {
    width: 82%;
}

#section-products .product-card:nth-child(14) figcaption {
    padding-left: 0;
    padding-right: 0;
}

#section-products .product-badge-new {
    left: 13px;
}

#section-products .product-badge {top: -23px !important;}

#section-products article:nth-child(6) .product-badge-sale,
#section-products article:nth-child(11) .product-badge-sale {
    left: 8px !important;
}

#pagination {align-self: flex-end;}

#pagination a {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border: 1px solid var(--medium-gray);
    padding-top: 2px;
}

#pagination li:nth-child(9) a {
    letter-spacing: 2px;
    padding-left: 2px;
    padding-top: 0 !important;
    padding-bottom: 2px;
}

#pagination li:not(:first-child, :last-child) a {
    padding-top: 3px;
}

#pagination .fa-angle-left {
    margin-right: 1px;
}

#pagination .fa-angle-right {
    margin-left: 1px;
}

#pagination .current-page,
#pagination a:hover,
#pagination a:hover i {
    font-weight: 600;
}

#pagination .current-page,
#pagination a:hover {
    border: 2px solid var(--bronze);
}

#pagination li:not(:last-child) {
    margin-right: 5px;
}

.layout-option:hover i,
#pagination .current-page,
#pagination a:hover,
#pagination a:hover i {
    color: var(--bronze);
}

/* Page Single Product (single-product.html) */

#section-product-info > div:first-child,
#product-details {
    width: 45%;
}

#section-product-info .product-badge {
    height: 80px;
    width: 80px;
    top: -32px;
    left: 29px;
    padding-top: 5px;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 1px;
}

#product-details {align-self: start;}

#product-title * {
    font-size: 30px;
    line-height: 35px;
    color: var(--bronze);
}

#product-title span:first-of-type {
    margin: 0 5px;
}

#product-title span:last-of-type {
    margin-left: 4px;
}

#badge-list * {
    font-size: 11px; 
    letter-spacing: 0.5px;
    padding: 8px 9px 5px;
    border-radius: 6px;
    background-color: var(--dark-beige);
}

#badge-list li:not(:last-child) {
    margin-right: 5px;
}

#product-details > main {
    margin-top: 10px;
}

#product-details > main > div {
    margin: 30px 0 40px;
}

#product-details > main > div:not(#price-container) > * {
    height: 49px;
}

#price-container {
    top: -47px;
    right: 4px;
    border-radius: 8px;
    align-items: flex-end;
}

#old-price {font-size: 20px;}
#old-price > span {font-size: 17px;}

#old-price, #old-price * {
    font-weight: 400;
}

#old-price::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--black-soft);
}

#old-price, #discount {
    margin-bottom: 5px;
}

#discount {font-size: 14px;}

#discount,
#new-price, #new-price * {
    color: var(--firebrick-red);
}

#new-price {font-size: 25px;}
#new-price > span {font-size: 22px;}

#product-number {margin: 20px 0 10px;}

#product-number > span,
#product-description > span {
    font-size: 14.5px;
}

#product-details .order-item-quantity {
    margin: 0 !important;
}

#product-details > main > div > a {
    width: 41.5%;
    margin: 0 0 0 8px !important;
    padding-top: 20px;
}

#product-details i {
    top: -3px;
    font-size: 15px;
}

#product-details table {border-spacing: 0;}

#product-details td {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 0;
    vertical-align: text-top;
}

#product-details td:first-child {
    font-weight: 500;
    font-size: 14px !important;
    border-right: 2px solid var(--dark-beige);
    line-height: 18px;
    padding-right: 5px;
}

#product-details td:last-child {
    padding-left: 20px;
}

#product-details td:last-child {
    margin-left: 2px;
}

#section-product-info .product-badge,
#badge-list *,
#product-title *,
#discount,
#new-price, #new-price *,
#product-number > span,
#product-description > span {
    font-weight: 600;
}

#section-similar-products .product-card:nth-child(2) .product-card-price::after {content: "Save 10%";}
#section-similar-products .product-card:last-child .product-card-price::after {content: "Save 20%";}
 
/* Checkout Page (checkout.html) */

#order-section > div:first-child {
    width: 60%;
}

#order-section > div:last-child {
    width: calc(40% - 60px);
    padding: 40px;
    border-radius: 10px;
}

#order-section > div {
    align-self: flex-start;
}

#order-review main {margin: 50px 0 40px;}

.order-item-picture {width: 110px;}

.order-item-picture > img {
    vertical-align: middle;
}

.order-item-picture span {
    width: 32px;
    height: 32px;
    background-color: var(--firebrick-red);
    top: -11px;
    left: -11px;
    font-size: 14px;
    padding-top: 2px;
}

.order-item td:last-child,
.order-item-subtotal td:first-child {
    padding-left: 15px;
}

.order-item-title,
.order-item-title * {
    line-height: 19px;
    font-weight: 600;
}

.order-item-title,
.order-item-title *,
.order-item-subtotal *,
#order-review footer .euro-entity {
    font-size: 15px;
}

.order-item-title {margin-bottom: 7px;}
.order-item-title > span:not(.measurement-unit) {margin: 0 2px;}
.order-item-title > span.measurement-unit {margin-left: 2px}

.order-item-category {
    font-size: 11px;
    letter-spacing: 0.5px;
}

.order-item-quantity {
	width: 60px;
	padding: 9px 5px 7px 15px !important;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 1; 
    position: relative;
    top: -2px;
}

.order-item-subtotal * {
    padding-top: 15px;
}

.order-item-subtotal td:last-child,
#order-review footer div > span:last-child {
    letter-spacing: 1px;
}

.order-item .euro-entity {
    font-size: 14px;
}

.order-item:not(:first-child) {margin-top: 30px;}

#order-review footer {
    border-top: 2px solid var(--dark-beige);
    padding-top: 30px;
}

#order-review footer img {margin-top: 20px;}

#order-review footer a {
    width: 100%;
    margin: 30px 0 10px;
}

#order-review footer > p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

.order-item-picture span,
.order-item-category,
.order-item-subtotal td:first-child,
#order-review footer div > span:first-child {
    font-weight: 600;
}

/* Contact Page (contact.html) */

#contact-info > div:first-child {
    width: 60%;
}

#contact-info > div:last-child {
    width: calc(40% - 60px);
    padding: 45px 40px;
}

#contact-info > div:last-child, iframe {
    border-radius: 10px;
}

#contact-info p,
#contact-info main li:not(:last-child) {
    margin-bottom: 20px;
}

#contact-info p:first-of-type {
    margin-top: 20px;
}

#contact-info ul {margin-top: 30px;}

#contact-info li:nth-of-type(2) {
    line-height: 20px;
}

#contact-info a:not(.small) {
    font-size: 16px;
    position: relative;
    top: -4.5px;
}

#contact-info a {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    padding-bottom: 1px;
}

#contact-info i {
    margin-right: 15px;
    width: 20px;
}

#contact-info li:nth-of-type(2) i {
    align-self: flex-start;
}

iframe {
    height: 420px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* Page About Author (about-author.html) */

#info-about-author > figure {
    width: calc(40% - 60px);
}

#info-about-author > div {
    width: 60%;
    border: 2px solid var(--dark-beige);
    padding: 50px 50px;
}

#info-about-author img {
    filter: grayscale(100%);
}

#info-about-author h4 {
    font-weight: 500 !important;
    margin-bottom: 10px;
}

#info-about-author p:not(:first-child) {
    margin-top: 20px;
}
